.obsidian/workspace.json

# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Operating system files
.DS_Store
Thumbs.db

# Personal Notes
/New Roads/
/Roadmap 180 days/
/Roadmap B/